/* กำหนด font-face สำหรับฟอนต์ Kanit */
@font-face {
  font-family: "kanit";
  src: url('./Kanit/Kanit-Regular.ttf');
}

/* สไตล์ของ body */
body {
  margin: 0;
  font-family: "kanit", Arial, sans-serif;
  background-image: linear-gradient(rgba(235, 91, 91, 0.5), rgba(44, 4, 117, 0.5)), url('/frontend/image/img3.jpg_large');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

/* สไตล์ของเมนู Navigation */
.Nav {
  margin: auto;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  border-radius: 10px;
  align-items: center;
  border-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ลิงก์ในเมนู Navigation */
.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}

/* กำหนด font-face สำหรับฟอนต์ Kanit */
.nav a:hover {
  text-decoration: underline 2px solid #fff;
}

/* container */
.container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5vh;
  padding: 20px;
  border-radius: 5px;
  background-color: purple;
  color: #ffffff;
  border-radius: 10px;
  background: transparent;
  background: linear-gradient(rgba(238, 124, 30, 0.5), rgba(90, 59, 230, 0.5), rgba(255, 0, 0, 0.5));
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(5px) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* สไตล์ของหัวข้อ h2 */
h2 {
  text-align: center;
}

/* สไตล์ของ input และ select */
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* สไตล์ของปุ่ม button */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* สไตล์ของปุ่ม button เมื่อชี้เมาส์ค้างไว้ */
button:hover {
  background-color: #45a049;
}

/* ข้อความแจ้งเตือน */
.message {
  background-color: gray;
  color: white;
  padding: 10px;
  margin: 20px;
  display: none;
}

/* ความแจ้งเตือนเมื่อสำเร็จ */
.message.success {
  background-color: green;
  display: block;
  border-radius: 20px;
  text-align: center;
}

/* ข้อความแจ้งเตือนเมื่อไม่สำเร็จ */
.message.danger {
  background-color: red;
  display: block;
  border-radius: 20px;
}
